source   "Kconfig.zephyr"
rsource "gpio/Kconfig"
rsource "dac/Kconfig"
rsource  "mytimers/Kconfig"
rsource   "drivers/drivOne/Kconfig"
rsource   "drivers/drivOne/Kconfig.drivone"
rsource   "drivers/i2c/Kconfig.itwoc"
rsource   "drivers/blue/Kconfig.blue"
